//Copyright 2018 Acelerex Inc.
 
extends ../layout

block content

    div(class ="ip" value = ip)
    div(class = "port" value= port)
    h1 Session Expired
    h1 Saving data and redirecting to log in
    script(src="js/errors/session_expired.js")
