table.benefits-bucket-output-es-buckets-table
  thead
    tr
      th(colspan="6" class='table-header table-header-text') Benefit Buckets
    tr
      th(class ='table-header-field table-header-field-title') Benefit Categories
      |
      th(class ='table-header-field table-header-field-title') Benefit Bucket
      |
      th(colspan="2" class ='table-header-field table-header-field-title') Value ($)	
      |
      th(colspan="2" class ='table-header-field table-header-field-title') Value (Local Currency)
  tbody
    tr
      th(class ='table-items-description table-items-description-text')
      |
      th(class ='table-items-description table-items-description-text')
      |
      th(class ='table-items-description table-items-description-text') Year 1
      |
      th(class ='table-items-description table-items-description-text') Year 2
      |
      th(class ='table-items-description table-items-description-text') Year 1
      |
      th(class ='table-items-description table-items-description-text') Year 2 
    
    tr
      th(rowspan="2" class ='table-items-description table-items-description-text') Thermal Generation
      |
      th(class ='table-items-description table-items-description-text') Fuel Savings
      |
      td.row-color-gray
        #outfueldol1(type='text' name='outfueldol1' disabled)
      td.row-color-gray 
        #outfueldol2(type='text' name='outfueldol2' disabled)
      td.row-color-gray
        #outfuelloc1(type='text' name='outfuelloc1' disabled)
      td.row-color-gray 
        #outfuelloc2(type='text' name='outfuelloc2' disabled)
      
    tr
      th(class ='table-items-description table-items-description-text') VO&M Savings
      |
      td.row-color-gray
        #outvomdol1(type='text' name='outvomdol1' disabled)
      td.row-color-gray 
        #outvomdol2(type='text' name='outvomdol2' disabled)
      td.row-color-gray
        #outvomloc1(type='text' name='outvomloc1' disabled)
      td.row-color-gray 
        #outvomloc2(type='text' name='outvomloc2' disabled)
    tr
      th(rowspan="6" class ='table-items-description table-items-description-text') Ancillary Service Cost Reduction
      |
      th(class ='table-items-description table-items-description-text') Primary Reserve
      |
      td.row-color-gray
        #outprimresdol1(type='text' name='outprimresdol1' disabled)
      td.row-color-gray 
        #outprimresdol2(type='text' name='outprimresdol2' disabled)
      td.row-color-gray
        #outprimresloc1(type='text' name='outprimresloc1' disabled)
      td.row-color-gray 
        #outprimresloc2(type='text' name='outprimresloc2' disabled)

    tr
      th(class ='table-items-description table-items-description-text') Secondary Reserve
      |
      td.row-color-gray
        #outsecresdol1(type='text' name='outsecresdol1' disabled)
      td.row-color-gray 
        #outsecresdol2(type='text' name='outsecresdol2' disabled)
      td.row-color-gray
        #outsecresloc1(type='text' name='outsecresloc1' disabled)
      td.row-color-gray 
        #outsecresloc2(type='text' name='outsecresloc2' disabled)

    tr
      th(class ='table-items-description table-items-description-text') Tertiary Reserve
      |
      td.row-color-gray
        #outterresdol1(type='text' name='outterresdol1' disabled)
      td.row-color-gray 
        #outterresdol2(type='text' name='outterresdol2' disabled)
      td.row-color-gray
        #outterresloc1(type='text' name='outterresloc1' disabled)
      td.row-color-gray 
        #outterresloc2(type='text' name='outterresloc2' disabled)

    tr
      th(class ='table-items-description table-items-description-text') Frequency Response
      |
      td.row-color-gray
        #outfreqresdol1(type='text' name='outfreqresdol1' disabled)
      td.row-color-gray 
        #outfreqresdol2(type='text' name='outfreqresdol2' disabled)
      td.row-color-gray
        #outfreqresloc1(type='text' name='outfreqresloc1' disabled)
      td.row-color-gray 
        #outfreqresloc2(type='text' name='outfreqresloc2' disabled)
      
    tr
      th(class ='table-items-description table-items-description-text') Reactive Power
      |
      td.row-color-gray
        #outreacpowdol1(type='text' name='outreacpowdol1' disabled)
      td.row-color-gray 
        #outreacpowdol2(type='text' name='outreacpowdol2' disabled)
      td.row-color-gray
        #outreacpowloc1(type='text' name='outreacpowloc1' disabled)
      td.row-color-gray 
        #outreacpowloc2(type='text' name='outreacpowloc2' disabled)
    
    tr
      th(class ='table-items-description table-items-description-text') Black Start Savings
      |
      td.row-color-gray
        #outblacksavdol1(type='text' name='outblacksavdol1' disabled)
      td.row-color-gray 
        #outblacksavdol2(type='text' name='outblacksavdol2' disabled)
      td.row-color-gray
        #outblacksavloc1(type='text' name='outblacksavloc1' disabled)
      td.row-color-gray 
        #outblacksavloc2(type='text' name='outblacksavloc2' disabled)
  
    tr
      th(class ='table-items-description table-items-description-text') Energy Cost Reduction
      |
      th(class ='table-items-description table-items-description-text') Energy Arbitrage
      |
      td.row-color-gray
        #outenerarbdol1(type='text' name='outenerarbdol1' disabled)
      td.row-color-gray 
        #outenerarbdol2(type='text' name='outenerarbdol2' disabled)
      td.row-color-gray
        #outenerarbloc1(type='text' name='outenerarbloc1' disabled)
      td.row-color-gray 
        #outenerarbloc2(type='text' name='outenerarbloc2' disabled)
      
    tr
      th(class ='table-items-description table-items-description-text') Reduced Peak
      |
      th(class ='table-items-description table-items-description-text') Peaking Plant Capital Savings
      |
      td.row-color-gray
        #outredpeakdol1(type='text' name='outredpeak1' disabled)
      td.row-color-gray 
        #outredpeakdol2(type='text' name='outredpeakdol2' disabled)
      td.row-color-gray
        #outredpeakloc1(type='text' name='outredpeakloc1' disabled)
      td.row-color-gray 
        #outredpeakloc2(type='text' name='outredpeakloc2' disabled)
    
    tr
      th(class ='table-items-description table-items-description-text') Forecast Error
      |
      th(class ='table-items-description table-items-description-text') Forecast Error Savings
      |
      td.row-color-gray
        #outforcerrdol1(type='text' name='outforcerrdol1' disabled)
      td.row-color-gray 
        #outforcerrdol2(type='text' name='outforcerrdol2' disabled)
      td.row-color-gray
        #outforcerrloc1(type='text' name='outforcerrloc1' disabled)
      td.row-color-gray 
        #outforcerrloc2(type='text' name='outforcerrloc2' disabled)
    
    tr
      th(rowspan ="2" class ='table-items-description table-items-description-text') Additional Savings
      |
      th(class ='table-items-description table-items-description-text') Support
      |
      td.row-color-gray
        #outaddsavdol1(type='text' name='outaddsavdol1' disabled)
      td.row-color-gray 
        #outaddsavdol2(type='text' name='outaddsavdol2' disabled)
      td.row-color-gray
        #outaddsavloc1(type='text' name='outaddsavloc1' disabled)
      td.row-color-gray 
        #outaddsavloc2(type='text' name='outaddsavloc2' disabled)
    
    tr
      th(class ='table-items-description table-items-description-text') T&D Deferral
      |
      td.row-color-gray
        #outtddefdol1(type='text' name='outtddefdol1' disabled)
      td.row-color-gray 
        #outtddefdol2(type='text' name='outtddefdol2' disabled)
      td.row-color-gray
        #outtddefloc1(type='text' name='outtddefloc1' disabled)
      td.row-color-gray 
        #outtddefloc2(type='text' name='outtddefloc2' disabled)
                
