<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org" lang="en">

<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	   <h1>Login</h1>
   <form name='f' th:action="@{/login/authenticate}" method='POST'>
      <table>
         <tr>
            <td>email:</td>
            <td><input type='text' name='username' value=''></td>
         </tr>
         <tr>
            <td>Password:</td>
            <td><input type='password' name='password' /></td>
         </tr>
         <tr>
            <td><input name="submit" type="submit" value="submit" /></td>
         </tr>
      </table>
  </form>
</body>
</html>