table(id='alternative-analysis-output-table' class='output-table alternative-analysis-output-table')
  thead
    tr
      th(class='output-fields-title') Data
      |
      th(class='output-fields-title') Units
      |          
      th(class='output-fields-title') Common values    
  tbody
    tr
      td(class='output-field-text') Peaking generators capacity
      |          
      td(class='output-field-answer')
        .P_cap_es_2C(type='text' name='P_cap_es_2C' disabled)
      |          
      td(class='output-field-answer') 
        .E_cap_es_2C(type='text' name='E_cap_es_2C' disabled)
    // /tr
    tr
      td(class='output-field-text') Peaking generators hourly generation
      |          
      td(class='output-field-answer')
        .P_cap_es_1C(type='text' name='P_cap_es_1C' disabled)      
      |          
      td(class='output-field-answer') 
        .E_cap_es_1C(type='text' name='E_cap_es_1C' disabled)
    // /tr
    tr
      td(class='output-field-text') Energy efficiency investments
      |          
      td(class='output-field-answer')
        .P_cap_es_05C(type='text' name='P_cap_es_05C' disabled)      
      |          
      td(class='output-field-answer') 
        .E_cap_es_05C(type='text' name='E_cap_es_05C' disabled)
    // /tr
    tr
      td(class='output-field-text') Demand response investments
      |          
      td(class='output-field-answer')
        .P_cap_es_025C(type='text' name='P_cap_es_025C' disabled)
      |   
      td(class='output-field-answer') 
        .E_cap_es_025C(type='text' name='E_cap_es_025C' disabled)
    tr
      td(class='output-field-text') Exercised demand response
      |          
      td(class='output-field-answer')
        .P_cap_es_total(type='text' name='P_cap_es_total' disabled)    
      |          
      td(class='output-field-answer')
        .E_cap_es_total(type='text' name='E_cap_es_total' disabled)
    tr
      td(class='output-field-text') Renewable capacity
      |          
      td(class='output-field-answer')
        .P_cap_es_total(type='text' name='P_cap_es_total' disabled)    
      |          
      td(class='output-field-answer')
        .E_cap_es_total(type='text' name='E_cap_es_total' disabled)
    tr
      td(class='output-field-text') Renewable generation
      |          
      td(class='output-field-answer')
        .P_cap_es_total(type='text' name='P_cap_es_total' disabled)    
      |          
      td(class='output-field-answer')
        .E_cap_es_total(type='text' name='E_cap_es_total' disabled)
    tr
      td(class='output-field-text') Storage capacity
      |          
      td(class='output-field-answer')
        .P_cap_es_total(type='text' name='P_cap_es_total' disabled)    
      |          
      td(class='output-field-answer')
        .E_cap_es_total(type='text' name='E_cap_es_total' disabled)
    tr
      td(class='output-field-text') Storage energy capacity
      |          
      td(class='output-field-answer')
        .P_cap_es_total(type='text' name='P_cap_es_total' disabled)    
      |          
      td(class='output-field-answer')
        .E_cap_es_total(type='text' name='E_cap_es_total' disabled)    
    tr
      td(class='output-field-text') Existing plants generation profiles 
      |          
      td(class='output-field-answer')
        .P_cap_es_total(type='text' name='P_cap_es_total' disabled)    
      |          
      td(class='output-field-answer')
        .E_cap_es_total(type='text' name='E_cap_es_total' disabled)
    tr
      td(class='output-field-text') Actual demand 
      |          
      td(class='output-field-answer')
        .P_cap_es_total(type='text' name='P_cap_es_total' disabled)    
      |          
      td(class='output-field-answer')
        .E_cap_es_total(type='text' name='E_cap_es_total' disabled) 
    tr
      td(class='output-field-text') Stored energy
      |          
      td(class='output-field-answer')
        .P_cap_es_total(type='text' name='P_cap_es_total' disabled)    
      |          
      td(class='output-field-answer')
        .E_cap_es_total(type='text' name='E_cap_es_total' disabled)    
                      
                  
