datalist.grid-layout-textboxes.form-control.required#renewables(name='scenario')
  option(disabled) Select a region
  option(value='High') High
  option(value='Median') Median
  option(value='Low') Low
  option(value='User')
    |  User Defined
input.my-file-selector(type='file',  accept=".csv", style='display:none;')
