<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Product Form</title>
</head>
<body>

	<form action="#" th:action=@{/saveProduct} th:object="${product}" method="post"
		enctype="multipart/form-data">
		<fieldset>
			<legend>Add a Product</legend>
			<div>
				<label>Product Name: </label>
				<input type="text" th:field="*{name}" />
				<p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" >Name Error</p>
			</div>
			<div>
				<label>Description: </label>
				<input type="text" th:field="*{description}" />
				<p th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Description Error</p>
				</div>
			<div>
				<label>Product Images: </label>
				<input type="file" name="images" multiple="multiple" />
			</div>
			<div>
				<input id="reset" type="reset" tabindex="4"/>
				<input id="submit" type="submit" tabindex="5" value="Add Product" />
			</div>
		</fieldset>
	</form>
</body>
</html>