head
  script(src="https://code.jquery.com/jquery-1.11.3.min.js")
  link(href='../stylesheets/layout-newLook.css', rel='stylesheet')
  link(href="../stylesheets/circle-timer/circle.css" rel="stylesheet")
  title Acelerex Storage Benefits Tool
body
  div(class="wrapper")
     include ../header/header_storage_benefits_tool.pug   
  div(class="port" value=port hidden)
  div(class="ip" value=ip hidden)
  div(class='welcome-page-container')              
     include ../welcome-page/welcome.pug 
  div(class='time-background-container' style="display:block")   
      div(class='timer-container')    
          div(class="circlebar" id="circlebar" data-circle-startTime=0 data-circle-dialWidth=10 data-circle-size="150px")
              div(class="loader-bg")
                 div(class="text") 00:00:00 
          div(class="timer-container-text" )         
              text(class="timer-text") Wait a few seconds while we are
              br  
              text(class="timer-text") Preparing your environment         
  
  script(src="js/circle-timer/circle-timer.js")
  script(src="js/back_end_welcome_page/back_end_welcome_page.js")
