@import '~src/theme';

.form-actions {
  width: 100%;
  position: sticky;
  padding: 1rem 0;
  margin: 1rem 0 0;
  bottom: 0;
  left: 0;
  background: #fff;
  border-top: 1px #eee solid;
  display: flex;
  justify-content: center;
}