.input-setting-container
  p
    a(href="#alternative-analysis-heading") Alternative Analysis
  p
    a(href="#production-cost-heading") Production Cost
  p
    a(href="#stacked-benefits-heading") Stacked Benefits
  p
    a(href="#emulator-heading") Emulator
 
