<!-- navigation sections menu -->
<nav mat-tab-nav-bar id="top_nav">
  <ng-container *ngFor="let menuSection of topNavigationService.getSectionList()">
    <ng-container *ngIf="!topNavigationService.hasTrigger(menuSection)">
      <a mat-tab-link [class.tab]="true" [class.current]="currentContext===menuSection" (click)="changeContext(menuSection)">
        {{topNavigationService.getSection(menuSection).label}}
      </a>
    </ng-container>
    <ng-container *ngIf="topNavigationService.hasTrigger(menuSection)">
      <a [class.tab]="true" [class.has-icon]="true" [class.current]="currentContext===menuSection">
        <a (click)="changeContext(menuSection)" class="hotspot">
          {{topNavigationService.getSection(menuSection).label}}
        </a>
        <a [matMenuTriggerFor]="topNavigationService.getSection(menuSection).trigger()"><mat-icon>arrow_drop_down</mat-icon></a>
      </a>
    </ng-container>
  </ng-container>
</nav>
<!-- navigation items menu -->
<nav id="sub_nav">
  <ul style="flex-grow: 4">
    <ng-container *ngFor="let menuItem of topNavigationService.getItems(currentContext)">
      <li><a [routerLink]="menuItem.url" [routerLinkActive]="'current'">{{menuItem.label}}</a></li>
    </ng-container>
  </ul>
</nav>
<mat-menu #centerList="matMenu" [overlapTrigger]="false" xPosition="before" class="top-nav">
  <a mat-menu-item (click)="chooseCenterContext(null, null)">All Centers</a>
  <a mat-menu-item *ngFor="let center of (appContextService.getAccessibleCenters()|async)" (click)="chooseCenterContext(center.id, center.handle)">{{center.name}}</a>
</mat-menu>

<!-- mobile menu -->
<button mat-icon-button id="top_nav_launch" (click)="showMobile = !showMobile"><mat-icon>menu</mat-icon></button>

<div id="mobileMenu" *ngIf="showMobile">
  <ul>
    <ng-container *ngFor="let menuSection of topNavigationService.getSectionList()">
    <li>
      {{topNavigationService.getSection(menuSection).label}}
      <ul>
        <ng-container *ngFor="let menuItem of topNavigationService.getItems(currentContext)">
        <li>
          <a [routerLink]="menuItem.url" [routerLinkActive]="'current'">{{menuItem.label}}</a>
        </li>
        </ng-container>
      </ul>
    </li>
    </ng-container>
  </ul>
</div>