table(class='demand-table inline')
  thead
    tr
      th(class='table-header-field table-header-field-title') Parameter
      |
      th(class ='table-header-field table-header-field-title') Year 1
      |
      th(class ='table-header-field table-header-field-title') Year 2
  tbody       
    tr
      th(class ='table-items-description table-items-description-text') Profile
      |
      td(class ='table-items-description-content')
         input(id ="demandprofile1" value="North" list="region" class="grid-layout-textboxes" onFocus="this.value=''")
         include ../../../sub-forms/select-region.pug
         input(id="userdemandprofile1" value="/home/gonzales1609/IRENA/SBT/data/Demand/North.csv" class="grid-layout-textboxes" hidden)         
      td(class ='table-items-description-content')
        input(id ="demandprofile2" list="region" value="North" class="grid-layout-textboxes" onFocus="this.value=''")
        include ../../../sub-forms/select-region.pug
        input(id="userdemandprofile2" value="/home/gonzales1609/IRENA/SBT/data/Demand/North.csv"  class="grid-layout-textboxes" hidden)
    tr
      th(class ='table-items-description table-items-description-text') Peak Demand (MW)
      |
      td(class ='table-items-description-content')
        input.grid-layout-textboxes.form-control#peakdemand1(type='text' name='peakdemand1')
      td(class ='table-items-description-content')
        input.grid-layout-textboxes.form-control#peakdemand2(type='text' name='peakdemand2')

    tr
      th(class ='table-items-description table-items-description-text') Annual Energy Demand (GWh)
      | 
      td(class ='table-items-description-content')
        input.grid-layout-textboxes.form-control#energydemand1(type='text' name='energydemand1')
      td(class ='table-items-description-content')
        input.grid-layout-textboxes.form-control#energydemand2(type='text' name='energydemand2')
