table.inputs-for-existing-table.inline
  thead
    tr
      th.table-header.table-header-text Inputs for Existing Table
    tr
      th.table-header-field.table-header-field-title
  tbody
    tr#existingloadpeak
      th.table-items-description.table-items-description-text Load Peak (MW)
      
    tr#existingloadenergy
      th.table-items-description.table-items-description-text Load Energy (GWh)
      
    tr#existingcaprequirement
      th.table-items-description.table-items-description-text Capacity Requirement (MW)
      
    
    tr#existinginstcapbyfuel.heading-row-color
      th.table-items-description.table-items-description-text Installed Capacity by Fuel Type (MW)
      
    
    tr#existingfirmcapbyfuel.heading-row-color
      th.table-items-description.table-items-description-text Firm Capacity by Fuel Type (MW)
      
      
    tr#existingfuelprices.heading-row-color
      th.table-items-description.table-items-description-text Fuel Prices ($/MMBtu)
      