.tabular-outputs-container.tables-container
  p.data-header-text Inputs for Existing System
  include tables/output-tables/tabular/inputs-for-existing-table.pug
  p.data-header-text CO Outputs
  include tables/output-tables/tabular/co-outputs.pug
  p.data-header-text PC Outputs
  include tables/output-tables/tabular/pc-outputs.pug