div(class="delete-message-pop-up-container" style="display:none;")
   p(class="error-message-header-text error-color") Delete
   text(style="font-size:14px; text-align:center; font-weight:bolder; font-style:italic; display:inline;") Please confirm that you whish to delete 
       
   div(class="input-buttons-container")
       input(type="button" onclick="delete_from_database()" class="delete-ok button-style-1" value="Ok")
       input(type="button" onclick="close_delete_from_database()" class="delete-in-cancel button-style-1" value="Cancel")
