div(class="error-message-pop-up-container" style="display:none;")
   p(class="error-message-header-text error-color") Error
   p(class="request-answer")
   p(class="error-message-header-text-margin")    
   div(class="input-buttons-container")
       input(type="button" onclick="Close()" class="error-message-ok button-style-1" value="Ok")
script(src="js/pop-up-boxes/error-message-pop-up.js")
    
