div(class="log-in-pop-up-container" style="display:none;")
   p(class="log-in-header-text") Sign In
   p(class="request-answer error-color")
   div(class="input-text-container")
       input(type="text" class="log-in-username textboxes" placeholder="username")
       br
       br
       input(type="password" class="log-in-password textboxes" placeholder="password")
       br
       br
   br      
   br    
   p(class="log-in-header-text")    
   div(class="input-buttons-container")
       input(type="button" onclick="getCredentials()" class="log-in-ok button-style-1" value="Ok")
       input(type="button" onclick="closeCredentials()" class="log-in-cancel button-style-1" value="Cancel")
script(src="js/pop-up-boxes/log-in-pop-up.js")
script(src="js/js_Objects/test_response.js")

     

