link( href="../stylesheets/pop-up-boxes/pop-up-box-list.css" rel="stylesheet")
script(src="js/js_Objects/test_response.js")
div(class="pop-up-box-modal")
    include error-message-pop-up.pug
    include log-in-pop-up.pug
    include delete-pop-up.pug
    include log-out-pop-up.pug