<sm-datatable [dataSource]="centers" defaultSortColumn="name">
  <sm-datatable-column name="name">
    <ng-container *smDatatableCell="let data">
      <a [routerLink]="['/center', data.id, 'view']">{{data.name}}</a>
    </ng-container>
  </sm-datatable-column>
  <sm-datatable-column name="streetAddress" label="Address">
    <ng-container *smDatatableCell="let data">
      {{data.streetAddress}}, {{data.city}}, {{data.state}} {{data.postalCode}}, {{data.country}}
    </ng-container>
  </sm-datatable-column>
</sm-datatable>