<ng-container *ngIf="center">
    <div class="mat-typography">


        <h1>Contact Information</h1>
        <p>
            {{center.streetAddress}}<br /> {{center.city}} {{center.state}}, {{center.postalCode}}<br /> {{center.country}}
            <br /> {{center.email}}
            <br /> {{center.phone}}
        </p>

        <!-- <h1>Hours of Operation</h1>
        <p>
            <label></label>
        </p>

        <h1>Social Media</h1>
        <p>
            {{center.facebook}}<br /> {{center.twitter}}
        </p> -->
    </div>
</ng-container>