table.co-outputs-table.inline
  thead
    tr
      th.table-header.table-header-text CO Outputs
    tr
      th.table-header-field.table-header-field-title
  tbody
    tr#cooutforceddeact
      th.table-items-description.table-items-description-text Forced Deactivation (MW)
    tr#cooutforcedbuild
      th.table-items-description.table-items-description-text Forced Build (MW)
    tr#cooutecoretirment
      th.table-items-description.table-items-description-text Economic Retirement (MW)
    tr#cooutecobuild
      th.table-items-description.table-items-description-text Economic Build (MW)
    tr#cooutzonalprice
      th.table-items-description.table-items-description-text Zonal Price ($/MWh)
    tr#cooutcapacityprice
      th.table-items-description.table-items-description-text Capacity Price ($/kW-yr)
    tr#cooutimpexp
      th.table-items-description.table-items-description-text Import/Exports (GWh)
    tr#cooutco2emissions
      th.table-items-description.table-items-description-text CO2 Emission (tons)
    tr#cooutemcosts
      th.table-items-description.table-items-description-text Emissions Cost ($000)
    tr#coouttotfuelcost
      th.table-items-description.table-items-description-text Total Fuel Cost ($000)
    tr#cooutenergybyfuel
      th.table-items-description.table-items-description-text Energy by Fuel Type (GWh)
    tr#cooutgenbyfuel
      th.table-items-description.table-items-description-text Gen Capacity by Fuel Type (MW)
    tr#cooutgencost
      th.table-items-description.table-items-description-text Generation Cost ($000)
    tr#cooutfomcost
      th.table-items-description.table-items-description-text FO&M Cost ($000)