table.pc-outputs-table.inline
  thead
    tr
      th.table-header.table-header-text PC Outputs
    tr
      th.table-header-field.table-header-field-title
  tbody
    tr#pcoutzonalprice
      th.table-items-description.table-items-description-text Zonal Price ($/MWh)
    tr#pcoutimpexp
      th.table-items-description.table-items-description-text Import/Exports (GWh)
    tr#pcoutco2emissions
      th.table-items-description.table-items-description-text CO2 Emission (tons)
    tr#pcoutenergybyfuel
      th.table-items-description.table-items-description-text Energy by Fuel Type (GWh)
    tr#pcoutvomcost
      th.table-items-description.table-items-description-text VO&M Cost ($000)
    tr#pcoutemcosts
      th.table-items-description.table-items-description-text Emissions Cost ($000)
    tr#pcoutgencost
      th.table-items-description.table-items-description-text Generation Cost ($000)
    tr#pcoutfomcost
      th.table-items-description.table-items-description-text FO&M Cost ($000)
    tr#pcoutcosttoload
      th.table-items-description.table-items-description-text Cost to Load ($000)
    tr#pcouttotfuelcost
      th.table-items-description.table-items-description-text Total Fuel Cost ($000)
    