table(class='blended-cost-table inline')
    thead
      tr
        th( class='table-header table-header-text')
          span.input-group-addon - Blended Annual Cost ($/kWh) -
      tr
        th(class ='table-header-field table-header-field-title')
    tbody   
      tr         
        th(class ='table-items-description table-items-description-text')
           span#blended-cost.input-group-addon 110
