table.demand-side-output-installed-cap-noess-table
  thead
    tr
      th(colspan="3" class='table-header table-header-text') Demand Side
    tr
      th(class ='table-header-field table-header-field-title')
      |
      th(class ='table-header-field table-header-field-title') Year 1
      |
      th(class ='table-header-field table-header-field-title') Year 2
  tbody
    tr
      th(class ='table-items-description table-items-description-text') Efficiency
      |
      td.row-color-gray
        #outeff1(type='text' name='outeff1' disabled)
      td.row-color-gray 
        #outeff2(type='text' name='outeff2' disabled)
    
    tr
      th(class ='table-items-description table-items-description-text') Demand Response
      |
      td.row-color-gray 
        #outdem1(type='text' name='outdem1' disabled)
      td.row-color-gray 
        #outdem2(type='text' name='outdem2' disabled)
  //-        
    tr
      th(class ='table-items-description table-items-description-text') Distributed Generation
      |
      td.row-color-gray
        #outdist1(type='text' name='outdist1' disabled)
      td.row-color-gray 
        #outdist2(type='text' name='outdist2' disabled)
          
