table.fuel-usage-output-installed-cap-tables
  thead
    tr
      th(class ='table-header-field table-header-field-title') Fuel
      |
      th(colspan="2" class ='table-header-field table-header-field-title') Fuel Burn (GJ)
      |
      th(colspan="2" class ='table-header-field table-header-field-title') CO2 Emissions (Mtonne)
    tr
      th(class ='table-items-description table-items-description-text') 
      |
      th(class ='table-items-description table-items-description-text') Year 1
      |
      th(class ='table-items-description table-items-description-text') Year 2
      |
      th(class ='table-items-description table-items-description-text') Year 1
      |  
      th(class ='table-items-description table-items-description-text') Year 2
  tbody          
    
    tr
      th#thermtype(class ='table-items-description table-items-description-text')
      |
      td.row-color-gray 
        .outfuelburn1#outfuelburn1(type='text' name='outfuelusage1' disabled)
      td.row-color-gray 
        .outfuelburn2#outfuelburn2(type='text' name='outfuelusage2' disabled)
      td.row-color-gray 
        .outco2em1#outco2em1(type='text' name='outco2em1' disabled)
      td.row-color-gray 
        .outco2em2#outco2em2(type='text' name='outco2em2' disabled)
        

                  
    
