table.hydro-generation-output-installed-cap-noess-table
  thead
    tr
      th(colspan="3" class='table-header table-header-text') Hydro Generation
    tr
      th(class ='table-header-field table-header-field-title') Source
      |
      th(class ='table-header-field table-header-field-title') Year 1
      |
      th(class ='table-header-field table-header-field-title') Year 2
  tbody
    tr
      th(class ='table-items-description table-items-description-text') Hydro
      |
      td.row-color-gray 
        #outdam1(type='text' name='outdam1' disabled)
      td.row-color-gray 
        #outdam2(type='text' name='outdam2' disabled)
  //-            
    tr
      th(class ='table-items-description table-items-description-text') Run-of-river
      |
      td.row-color-gray
        #outriver1(type='text' name='outriver1' disabled)
      td.row-color-gray 
        #outriver2(type='text' name='outriver2' disabled)
