table.pc-metrics-table
   thead
     tr
       th.table-header.table-header-text Production Cost Metrics
     tr
       th.table-header-field.table-header-field-title
 
   tbody
     tr#pcmetrics_fuel_cost.heading-row-color
       th.table-items-description.table-items-description-text Fuel Cost
     tr#pcmetrics_vom_cost.heading-row-color
       th.table-items-description.table-items-description-text VOM Cost
     tr#pcmetrics_co2_emission_cost.heading-row-color
       th.table-items-description.table-items-description-text CO2 Emission Cost
     tr#pcmetrics_generation_energy_revenue.heading-row-color
       th.table-items-description.table-items-description-text Generation Energy Revenue
     tr#pcmetrics_generation_primary_reserve_revenue.heading-row-color
       th.table-items-description.table-items-description-text Generation Primary Reserve Revenue
     tr#pcmetrics_generation_secondary_reserve_revenue.heading-row-color
       th.table-items-description.table-items-description-text Generation Secondary Reserve Revenue
     tr#pcmetrics_generation_tertiary_reserve_revenue.heading-row-color
       th.table-items-description.table-items-description-text Generation Tertiary Reserve Revenue
     tr#pcmetrics_storage_energy_revenue.heading-row-color
       th.table-items-description.table-items-description-text Storage Energy Revenue
     tr#pcmetrics_storage_primary_reserve_revenue.heading-row-color
       th.table-items-description.table-items-description-text Storage Primary Reserve Revenue
     tr#pcmetrics_storage_secondary_reserve_revenue.heading-row-color
       th.table-items-description.table-items-description-text Storage Secondary Reserve Revenue
     tr#pcmetrics_storage_tertiary_reserve_revenue.heading-row-color
       th.table-items-description.table-items-description-text Storage Tertiary Reserve Revenue
     tr#pcmetrics_fom_cost.heading-row-color
       th.table-items-description.table-items-description-text FO&M Cost
     tr#pcmetrics_generation_primary_reserve_cost.heading-row-color
       th.table-items-description.table-items-description-text Generation Primary Reserve Cost
     tr#pcmetrics_generation_secondary_reserve_cost.heading-row-color
       th.table-items-description.table-items-description-text Generation Secondary Reserve Cost
     tr#pcmetrics_generation_tertiary_reserve_cost.heading-row-color
       th.table-items-description.table-items-description-text Generation Tertiary Reserve Cost
     tr#pcmetrics_storage_primary_reserve_cost.heading-row-color
       th.table-items-description.table-items-description-text Storage Primary Reserve Cost
     tr#pcmetrics_storage_secondary_reserve_cost.heading-row-color
       th.table-items-description.table-items-description-text Storage Secondary Reserve Cost
     tr#pcmetrics_storage_tertiary_reserve_cost.heading-row-color
       th.table-items-description.table-items-description-text Storage Tertiary Reserve Cost

