table.thermal-generation-output-installed-cap-noess-table
  thead
    tr
      th(colspan="3" class='table-header table-header-text') Thermal Generation
    tr
      th(class ='table-header-field table-header-field-title') Source
      |
      th(class ='table-header-field table-header-field-title') Year 1
      |
      th(class ='table-header-field table-header-field-title') Year 2
  tbody
    tr
      th( id="fuel_type" class ='table-items-description table-items-description-text')
      |
      td.row-color-gray
        .outthermgen1#outthermgen1(type='text' name='outthermgen1' disabled)
      td.row-color-gray 
        .outthermgen2#outthermgen2(type='text' name='outthermgen2' disabled)
