@import '~src/theme';

#account_menu {
  display: none;
}

#userMenuLaunch {
  display: block;
  color: #fff;
}

@include respond-to('desktop') {
  #account_menu {
    color: #000;
    cursor: pointer;
    display: block;
    font-size: 48px;
    line-height: 40px;
    margin: 0.8rem 0 1rem;
    height: 40px;
    width: 40px;

    &:hover{
      color: #333;
    }
  }

  #userMenuLaunch {
    display: none;
  }
}