.input-chart-container
  div(id='wind-profile-graph1' style="width:400px; height:200px;" class='profile-graph')
  div(id='wind-profile-graph2' style="width:400px; height:200px;" class='profile-graph')
.input-chart-container
  div(id='solar-profile-graph1' style="width:400px; height:200px;" class='profile-graph')
  div(id='solar-profile-graph2' style="width:400px; height:200px;" class='profile-graph')
