table(id='alternative-analysis-table' class='alternative-analysis-table inline')
    thead
      tr
       th(colspan="3" class='table-header table-header-text') - ALTERNATIVE ANALYSIS -
      tr
        th(class ='table-header-field table-header-field-title') Data
        |
        th(class ='table-header-field table-header-field-title') Units
        |
        th(class ='table-header-field table-header-field-title') Common Values    

      // /tr
    // thead
    tbody
      tr
        th(class ='table-items-description table-items-description-text') Duration of demand blocks          
        |
        td(class ='table-items-description-content') 
          input.grid-layout-textboxes.form-control.espcap(type='text' value='')
        |
        td(class ='table-items-description-content') 
          input.grid-layout-textboxes.form-control.esecap(type='text' value='')       
      tr
        th(class ='table-items-description table-items-description-text') Base demand          
        |
        td(class ='table-items-description-content') 
          input.grid-layout-textboxes.form-control.espcap(type='text' value='')
        |
        td(class ='table-items-description-content') 
          input.grid-layout-textboxes.form-control.esecap(type='text' value='')
      tr
        th(class ='table-items-description table-items-description-text') Investment cost for peaking technologies 
        |
        td(class ='table-items-description-content') 
          input.grid-layout-textboxes.form-control.espcap(type='text' value='')
        |
        td(class ='table-items-description-content') 
          input.grid-layout-textboxes.form-control.esecap(type='text' value='')
        
      tr
        th(class ='table-items-description table-items-description-text') Heat rate for peaking technologies 
        |
        td(class ='table-items-description-content') 
          input.grid-layout-textboxes.form-control.espcap(type='text' value='')
        |
        td(class ='table-items-description-content') 
          input.grid-layout-textboxes.form-control.esecap(type='text' value='')
        
      tr
        th(class ='table-items-description table-items-description-text') Fuel costs 
        |
        td(class ='table-items-description-content') 
          input.grid-layout-textboxes.form-control.espcap(type='text' value='')
        |
        td(class ='table-items-description-content') 
          input.grid-layout-textboxes.form-control.esecap(type='text' value='')
        
      tr
        th(class ='table-items-description table-items-description-text') Variable Operation & Maintenance 
        |
        td(class ='table-items-description-content') 
          input.grid-layout-textboxes.form-control.espcap(type='text' value='')
        |
        td(class ='table-items-description-content') 
          input.grid-layout-textboxes.form-control.esecap(type='text' value='')
        
      tr
        th(class ='table-items-description table-items-description-text') Investment cost for energy efficiency 
        |
        td(class ='table-items-description-content') 
          input.grid-layout-textboxes.form-control.espcap(type='text' value='')
        |
        td(class ='table-items-description-content') 
          input.grid-layout-textboxes.form-control.esecap(type='text' value='')
        
      tr
        th(class ='table-items-description table-items-description-text') Investment cost for energy efficiency          
        |
        td(class ='table-items-description-content') 
          input.grid-layout-textboxes.form-control.espcap(type='text' value='')
        |
        td(class ='table-items-description-content') 
          input.grid-layout-textboxes.form-control.esecap(type='text' value='')
      tr
        th(class ='table-items-description table-items-description-text') Saving factor for energy efficiency 
        |
        td(class ='table-items-description-content') 
          input.grid-layout-textboxes.form-control.espcap(type='text' value='')
        |
        td(class ='table-items-description-content') 
          input.grid-layout-textboxes.form-control.esecap(type='text' value='')
        
      tr
        th(class ='table-items-description table-items-description-text') Maximum energy efficiency investment 
        |
        td(class ='table-items-description-content') 
          input.grid-layout-textboxes.form-control.espcap(type='text' value='')
        |
        td(class ='table-items-description-content') 
          input.grid-layout-textboxes.form-control.esecap(type='text' value='')
      tr
        th(class ='table-items-description table-items-description-text') Investment cost for demand response 
        |
        td(class ='table-items-description-content') 
          input.grid-layout-textboxes.form-control.espcap(type='text' value='')
        |
        td(class ='table-items-description-content') 
          input.grid-layout-textboxes.form-control.esecap(type='text' value='')     
      tr
        th(class ='table-items-description table-items-description-text') Variable cost for demand response 
        |
        td(class ='table-items-description-content') 
          input.grid-layout-textboxes.form-control.espcap(type='text' value='')
        |
        td(class ='table-items-description-content') 
          input.grid-layout-textboxes.form-control.esecap(type='text' value='')     
        
      tr
        th(class ='table-items-description table-items-description-text') Investment cost for renewable power plants 
        |
        td(class ='table-items-description-content') 
          input.grid-layout-textboxes.form-control.espcap(type='text' value='')
        |
        td(class ='table-items-description-content') 
          input.grid-layout-textboxes.form-control.esecap(type='text' value='')
        
      tr
        th(class ='table-items-description table-items-description-text') Available renewable resource          
        |
        td(class ='table-items-description-content') 
          input.grid-layout-textboxes.form-control.espcap(type='text' value='')
        |
        td(class ='table-items-description-content') 
          input.grid-layout-textboxes.form-control.esecap(type='text' value='')
      tr
        th(class ='table-items-description table-items-description-text') Availability during peak factor for renewables           
        |
        td(class ='table-items-description-content') 
          input.grid-layout-textboxes.form-control.espcap(type='text' value='')
        |
        td(class ='table-items-description-content') 
          input.grid-layout-textboxes.form-control.esecap(type='text' value='')
      tr
        th(class ='table-items-description table-items-description-text') Investment cost for storage power capacity          
        |
        td(class ='table-items-description-content') 
          input.grid-layout-textboxes.form-control.espcap(type='text' value='')
        |
        td(class ='table-items-description-content') 
          input.grid-layout-textboxes.form-control.esecap(type='text' value='')
      tr
        th(class ='table-items-description table-items-description-text') Investment cost for storage energy capacity          
        |
        td(class ='table-items-description-content') 
          input.grid-layout-textboxes.form-control.espcap(type='text' value='')
        |
        td(class ='table-items-description-content') 
          input.grid-layout-textboxes.form-control.esecap(type='text' value='')
      tr
        th(class ='table-items-description table-items-description-text') Variable cost for energy storage          
        |
        td(class ='table-items-description-content') 
          input.grid-layout-textboxes.form-control.espcap(type='text' value='')
        |
        td(class ='table-items-description-content') 
          input.grid-layout-textboxes.form-control.esecap(type='text' value='')
      tr
        th(class ='table-items-description table-items-description-text') Storage charging efficiency          
        |
        td(class ='table-items-description-content') 
          input.grid-layout-textboxes.form-control.espcap(type='text' value='')
        |
        td(class ='table-items-description-content') 
          input.grid-layout-textboxes.form-control.esecap(type='text' value='')
      tr
        th(class ='table-items-description table-items-description-text') Storage discharging efficiency          
        |
        td(class ='table-items-description-content') 
          input.grid-layout-textboxes.form-control.espcap(type='text' value='')
        |
        td(class ='table-items-description-content') 
          input.grid-layout-textboxes.form-control.esecap(type='text' value='')
      tr
        th(class ='table-items-description table-items-description-text') Availability during peak factor for storage          
        |
        td(class ='table-items-description-content') 
          input.grid-layout-textboxes.form-control.espcap(type='text' value='')
        |
        td(class ='table-items-description-content') 
          input.grid-layout-textboxes.form-control.esecap(type='text' value='')
      tr
        th(class ='table-items-description table-items-description-text') Heat rate for existing power plants          
        |
        td(class ='table-items-description-content') 
          input.grid-layout-textboxes.form-control.espcap(type='text' value='')
        |
        td(class ='table-items-description-content') 
          input.grid-layout-textboxes.form-control.esecap(type='text' value='')
      tr
        th(class ='table-items-description table-items-description-text') Fuel costs          
        |
        td(class ='table-items-description-content') 
          input.grid-layout-textboxes.form-control.espcap(type='text' value='')
        |
        td(class ='table-items-description-content') 
          input.grid-layout-textboxes.form-control.esecap(type='text' value='')
      tr
        th(class ='table-items-description table-items-description-text') VOM for existing power plants          
        |
        td(class ='table-items-description-content') 
          input.grid-layout-textboxes.form-control.espcap(type='text' value='')
        |
        td(class ='table-items-description-content') 
          input.grid-layout-textboxes.form-control.esecap(type='text' value='')
      tr
        th(class ='table-items-description table-items-description-text') c          
        |
        td(class ='table-items-description-content') 
          input.grid-layout-textboxes.form-control.espcap(type='text' value='')
        |
        td(class ='table-items-description-content') 
          input.grid-layout-textboxes.form-control.esecap(type='text' value='')
      tr
        th(class ='table-items-description table-items-description-text') Existing power plants capacity         
        |
        td(class ='table-items-description-content') 
          input.grid-layout-textboxes.form-control.espcap(type='text' value='')
        |
        td(class ='table-items-description-content') 
          input.grid-layout-textboxes.form-control.esecap(type='text' value='')
      tr
        th(class ='table-items-description table-items-description-text') Carbon emissions factor         
        |
        td(class ='table-items-description-content') 
          input.grid-layout-textboxes.form-control.espcap(type='text' value='')
        |
        td(class ='table-items-description-content') 
          input.grid-layout-textboxes.form-control.esecap(type='text' value='')
      tr
        th(class ='table-items-description table-items-description-text') Carbon price         
        |
        td(class ='table-items-description-content') 
          input.grid-layout-textboxes.form-control.espcap(type='text' value='')
        |
        td(class ='table-items-description-content') 
          input.grid-layout-textboxes.form-control.esecap(type='text' value='')
      tr
        th(class ='table-items-description table-items-description-text') Safety capacity planning factor        
        |
        td(class ='table-items-description-content') 
          input.grid-layout-textboxes.form-control.espcap(type='text' value='')
        |
        td(class ='table-items-description-content') 
          input.grid-layout-textboxes.form-control.esecap(type='text' value='')    