link(href="../stylesheets/horizontal-menu/horizontal-menu.css" rel="stylesheet")
div(class='scenario-menu-container')
    div(class='scenario-info-container')
       text(id="username" class='project-info-user project-info-text' value=username) User: 
            text(id="username" style="margin-left:2px;font-style:italic;font-size:15px;font-weight:bolder;" value=username) #{username} 
       br
       text(class='project-info-title project-info-text') Scenario:
          text(class='scenario-text' style="margin-left:2px;font-style:italic;font-size:15px;font-weight:bolder;") 
       br
       text(class='project-info-run project-info-text') Case:
          text(class='case-text' style="margin-left:2px;font-style:italic;font-size:15px;font-weight:bolder;")
       br
       text(class='project-info-data-created project-info-text') Created On:
          text( class='created-on-text' style="margin-left:2px;font-style:italic;font-size:12px;font-weight:bolder;")
       br
       text(class='project-info-last-modified project-info-text') Last Modified:
          text( class='last-modified-text' style="margin-left:2px;font-style:italic;font-size:12px;font-weight:bolder;")
       br
       text(class='project-info-run-data project-info-text') Last Run:
          text( class='last-run-text' style="margin-left:2px;font-style:italic;font-size:12px;font-weight:bolder;")
       br
       text(class='project-info-status project-info-text') Status:
          text( class='status-text' style="margin-left:2px;font-style:italic;font-size:12px;font-weight:bolder;") 
       include ../sub-forms/country-option.pug
    div(class="select-editable-container")
      div(class='scenario-cases-container display-inline')
          input(list="scenario" class="scenario-option select-editable" name="Scenario" placeholder="Scenario")
          datalist(id="scenario")                
          input(list ="case" class="case-option select-editable" name='Case' placeholder="Case")
          datalist(id="case")
                
          div(class="buttons-container display-inline")
             //button(id="calculate-btn" class="horizontal-menu-button") Calculate
             button(id="save-btn" class="horizontal-menu-button") Save 
             button(id="delete-btn" class="horizontal-menu-button") Delete
       
      div(class="select-editable-notes-container display-inline")
           div(class="tabs-menu")
             div(class="tabs")
               ul(class="tab-links")
                  li(class="active")
                    a(href="#tab1" class ="scenario-notes-tab") Scenario Notes
                  li
                    a(href="#tab2" class ="case-notes-tab") Case notes
             div(class="tab-content")     
                 div(id="tab1" class="tab active text")
                     textarea(class="select-editable-notes scenario-notes"  placeholder="Scenario notes...")
                 div(id="tab2" class="tab")
                     textarea(class="select-editable-notes case-notes"  placeholder="Case notes...")
           button(class ="data-table-list") Table list
       
      .calculation-buttons-container
         div(class="alternative-analysis-container" style="display:inline;margin-left: 0px;")  
           button(id="alternative-analysis-btn" class="calc-buttons") Alternative Analysis
           text(class="calculation-buttons-container-text alternative-analysis-calculation-text" style="display:none") On:
             text(class="alternative-analysis-calculation-date calculation-buttons-container-text") 
         div(class="production-cost-container" style="display:inline")  
           button(id="production-cost-btn" class="calc-buttons") Production Cost
           text(class="calculation-buttons-container-text production-cost-calculation-text" style="display:none") On:
             text(class="production-cost-calculation-date calculation-buttons-container-text") 
         div(class="stacked-benefits-container" style="display:inline")  
           button(id="stacked-benefits-btn" class="calc-buttons") Stacked Benefits
           text(class="calculation-buttons-container-text stacked-benefits-calculation-text" style="display:none") On:
             text(class="stacked-benefits-calculation-date calculation-buttons-container-text") 
         div(class="emulator-container" style="display:inline")  
           button(id="emulator-btn" class="calc-buttons") Emulator
           text(class="calculation-buttons-container-text emulator-calculation-text" style="display:none") On:
             text(class="emulator-calculation-date calculation-buttons-container-text") 
      
    div(class="table-list-container")
         ul(class="tab-list-links")
    
   
script(src="js/js_Objects/test_response.js")  
script(src="js/js_Objects/Scenario_and_Cases_bucket.js")
script(src="js/horizontal-menu/set_input_data_to_tables.js")
script(src="js/horizontal-menu/set_output_data_to_tables.js")
script(src="js/horizontal-menu/save_button.js")
script(src="js/horizontal-menu/get_data_from_tables.js")
script(src="js/horizontal-menu/delete_button.js")
script(src="js/horizontal-menu/tab-list-container.js")
script(src="js/horizontal-menu/set_data_to_not_editable.js")
script(src="js/horizontal-menu/set_data_to_editable.js")
script(src="js/horizontal-menu/set_data_to_default_values.js")
script(src="js/horizontal-menu/test_input_data.js")
script(src="js/horizontal-menu/set_focus_on_inputs.js")
script(src="js/horizontal-menu/horizontal-menu.js")
script(src="js/horizontal-menu/calculate-buttons/alternative_analysis_calculate_button.js")
script(src="js/horizontal-menu/calculate-buttons/production_cost_calculate_button.js")
script(src="js/horizontal-menu/calculate-buttons/stacked_benefits_calculate_button.js")
script(src="js/horizontal-menu/calculate-buttons/emulator_calculate_button.js")
script(src="js/horizontal-menu/set_output_tables_to_default.js")
script(src="js/horizontal-menu/buttons_controller.js")
