table(class ='programs-demand-side-table inline')
    thead
        tr
          th(colspan="14" class='table-header table-header-text') Demand Side
        tr
          th(class='table-header-field-empty') 
          |
          th(class ='table-header-field table-header-field-title') Power Cap. Year 1 (MW)
          |
          th(class ='table-header-field table-header-field-title') Power Cap. Year 2 (MW)
          |
          th(class ='table-header-field table-header-field-title') Energy Costs Year 1 ($/MWh)
          |
          th(class ='table-header-field table-header-field-title') Energy Costs Year 2 ($/MWh)
          |
          th(class ='table-header-field table-header-field-title') Inv. Cost Year 1 ($/kW)
          |
          th(class ='table-header-field table-header-field-title') Inv. Cost Year 1 ($/kW)
          |
          th(class ='table-header-field table-header-field-title') Energy Sav. Factor (%)
          |
          th(class ='table-header-field table-header-field-title') Prim. Res. Cost ($/MW)
          |
          th(class ='table-header-field table-header-field-title') Sec. Res. Cost ($/MW)
          |
          th(class ='table-header-field table-header-field-title') Tert. Res. Cost ($/MW)
          |
          th(class ='table-header-field table-header-field-title') Max Capacity Year 1 (MW)
          |
          th(class ='table-header-field table-header-field-title') Max Capacity Year 2 (MW)
          |
          th(class ='table-header-field table-header-field-title') Ramping Rate (MW/h)
    tbody      
        tr
          th(class ='table-items-description table-items-description-text') Energy Efficiency
          |
          td(class ='table-items-description-content') 
            input.grid-layout-textboxes.form-control#enercap_ds1(type='text' name='enercap_ds1')
          td(class ='table-items-description-content') 
            input.grid-layout-textboxes.form-control#enercap_ds2(type='text' name='enercap_ds2')
          td(class ='table-items-description-content') 
            input.grid-layout-textboxes.form-control#enercost_ds1(type='text' name='enercost_ds1' disabled)
          td(class ='table-items-description-content') 
            input.grid-layout-textboxes.form-control#enercost_ds2(type='text' name='enercost_ds2' disabled)
          td(class ='table-items-description-content') 
            input.grid-layout-textboxes.form-control#enerinv_ds1(type='text' name='enerinv_ds1')
          td(class ='table-items-description-content') 
            input.grid-layout-textboxes.form-control#enerinv_ds2(type='text' name='enerinv_ds2')
          td(class ='table-items-description-content') 
            input.grid-layout-textboxes.form-control#enersav_ds(type='text' name='enersav_ds1')
          td(class ='table-items-description-content') 
            input.grid-layout-textboxes.form-control#enerPRC_ds(type='text' name='enerPRC_ds' disabled)
          td(class ='table-items-description-content') 
            input.grid-layout-textboxes.form-control#enerSRC_ds(type='text' name='enerSRC_ds' disabled)
          td(class ='table-items-description-content') 
            input.grid-layout-textboxes.form-control#enerTRC_ds(type='text' name='enerTRC_ds' disabled)
          td(class ='table-items-description-content') 
            input.grid-layout-textboxes.form-control#enermax_ds1(type='text' name='enermax_ds1')
          td(class ='table-items-description-content') 
            input.grid-layout-textboxes.form-control#enermax_ds2(type='text' name='enermax_ds2')
          td(class ='table-items-description-content') 
            input.grid-layout-textboxes.form-control#enerramprate_ds(type='text' name='enerramprate_ds')

        tr
          th(class ='table-items-description table-items-description-text') Demand Response
          td(class ='table-items-description-content') 
            input.grid-layout-textboxes.form-control#demrescap_ds1(type='text' name='demrescap_ds1')
          td(class ='table-items-description-content') 
            input.grid-layout-textboxes.form-control#demrescap_ds2(type='text' name='demrescap_ds2')
          td(class ='table-items-description-content') 
            input.grid-layout-textboxes.form-control#demrescost_ds1(type='text' name='demrescost_ds1')
          td(class ='table-items-description-content') 
            input.grid-layout-textboxes.form-control#demrescost_ds2(type='text' name='demrescost_ds2')
          td(class ='table-items-description-content') 
            input.grid-layout-textboxes.form-control#demresinv_ds1(type='text' name='demresinv_ds1')
          td(class ='table-items-description-content') 
            input.grid-layout-textboxes.form-control#demresinv_ds2(type='text' name='demresinv_ds2')
          td(class ='table-items-description-content') 
            input.grid-layout-textboxes.form-control#demressav_ds(type='text' name='demressav_ds' disabled)
          td(class ='table-items-description-content') 
            input.grid-layout-textboxes.form-control#demresPRC_ds(type='text' name='demresPRC_ds')
          td(class ='table-items-description-content') 
            input.grid-layout-textboxes.form-control#demresSRC_ds(type='text' name='demresSRC_ds')
          td(class ='table-items-description-content') 
            input.grid-layout-textboxes.form-control#demresTRC_ds(type='text' name='demresTRC_ds')
          td(class ='table-items-description-content') 
            input.grid-layout-textboxes.form-control#demresmax_ds1(type='text' name='demresmax_ds1')
          td(class ='table-items-description-content') 
            input.grid-layout-textboxes.form-control#demresmax_ds2(type='text' name='demresmax_ds2')
          td(class ='table-items-description-content') 
            input.grid-layout-textboxes.form-control#demresramprate_ds(type='text' name='demresramprate_ds')