table(class='programs-planning-criteria-table')
  thead
    tr
      th(colspan="4" class='table-header table-header-text') Planning Criteria
    tr
      th(colspan="2" class ='table-header-field table-header-field-title')
      |
      th(class ='table-header-field table-header-field-title') Year 1
      |
      th(class ='table-header-field table-header-field-title') Year 2
      
  tbody
    tr
      th(colspan="2" class='table-items-description table-items-description-text') Capacity Planning Margin (%)
      |
      td(class ='table-items-description-content')
        input.grid-layout-textboxes.form-control#capplan1(type='text' name='capplan1')
      td(class ='table-items-description-content')
        input.grid-layout-textboxes.form-control#capplan2(type='text' name='capplan2')
      
    tr
      th(colspan="2" class='table-items-description table-items-description-text') Value of Lost Load ($/MWh)
      |
      td(class ='table-items-description-content')
        input.grid-layout-textboxes.form-control#lostload1(type='text' name='lostload1')
      td(class ='table-items-description-content')
        input.grid-layout-textboxes.form-control#lostload2(type='text' name='lostload2')

    tr
      th(colspan="2" class='table-items-description table-items-description-text') Primary Reserve Requirements (MW)
      |
      td(class ='table-items-description-content')
        input.grid-layout-textboxes.form-control#primaryres1(type='text' name='primaryres1')
      td(class ='table-items-description-content')
        input.grid-layout-textboxes.form-control#primaryres2(type='text' name='primaryres2')

    tr
      th(colspan="2" class='table-items-description table-items-description-text') Secondary Reserve Requirements (MW)
      |
      td(class ='table-items-description-content')
        input.grid-layout-textboxes.form-control#secondres1(type='text' name='secondres1')
      td(class ='table-items-description-content')
        input.grid-layout-textboxes.form-control#secondres2(type='text' name='secondres2')
      
    tr
      th(colspan="2" class='table-items-description table-items-description-text') Tertiary Reserve Requirements (MW)
      |
      td(class ='table-items-description-content')
        input.grid-layout-textboxes.form-control#tertiaryres1(type='text' name='tertiaryres1')
      td(class ='table-items-description-content')
        input.grid-layout-textboxes.form-control#tertiaryres2(type='text' name='tertiaryres2')