<form fxShow fxHide.xs>
    <input  id="quickSearch" placeholder="Search for Anything" aria-label="Search for Anything" showPanel="false" [matAutocomplete]="quickSearch" [formControl]="quickSearchCtrl">
    <mat-autocomplete #quickSearch="matAutocomplete">
      <mat-option *ngFor="let result of searchResults | async" [value]="result.name" class="quickSearch-result">
        <div *ngIf="result.type === SearchResultType.center">
          <span class="name">SpiderSmart Learning Center of {{ result.name }}</span>
          <a href="tel:{{result.phone}}" aria-label="Call Center Phone" class="phone"><mat-icon aria-hidden="true">phone</mat-icon> <p>{{ result.phone|phone }}</p></a>
        </div>
        <div *ngIf="result.type === SearchResultType.student" class="result-student">
          <div class="contact-info">
            <span class="name">{{result.name}}</span>
            <a href="tel:{{result.phone}}" aria-label="Call Student Phone" class="phone"><mat-icon aria-hidden="true">phone</mat-icon> {{ result.phone|phone }}</a>
          </div>
          <div class="enrollment">
            <span *ngFor="let center of result.centers">
              <span class="center">{{ center.name }}:</span>
              <span *ngFor="let subject of center.subjects; let lastSubject=last">
                {{ subject.name | subject }} ({{subject.level}}){{lastSubject ? '' : ', ' }}
              </span>
            </span>
          </div>
        </div>
        <div *ngIf="result.type === SearchResultType.assignment">
          {{result.name}}
        </div>
        <div *ngIf="result.type === SearchResultType.book">
          {{result.name}}
        </div>
      </mat-option>
    </mat-autocomplete>
</form>

<!-- mobile view -->
<button mat-icon-button id="globalSearchLaunch"><mat-icon>search</mat-icon></button>
