script(src="https://code.jquery.com/jquery-1.11.3.min.js")
link(href='../stylesheets/layout-newLook.css', rel='stylesheet')
link(href="../stylesheets/welcome-page/welcome-page.css" rel="stylesheet")
link(href="../stylesheets/circle-timer/circle.css" rel="stylesheet")
div(class="wrapper" style="background-color:black;")
      // Navigation
      nav.header0
          div(class='logo-container')  
            a
              img(src='images/acelerex-logo.png', class='img-responsive company-img' alt='Acelerex logo' style='width:auto; max-height:45px;')               
            span
               text.navbar-text(style='color:white;') Storage Benefits Tool
          div(class='menu-icon-container' onclick='ToogleMenu()')
              div(class='menu-icon-bar')
              div(class='menu-icon-bar')
              div(class='menu-icon-bar')
div(class='welcome-page-container shadow')              
   include welcomePage/welcome.pug
div(class='timer-container')    
    div(class="circlebar" id="circlebar" data-circle-startTime=0 data-circle-dialWidth=20 data-circle-size="250px")
        div(class="loader-bg")
           div(class="text") 00:00:00 
    div(class="timer-container-text")         
        text(class="timer-text") Wait a few seconds while we are
        br  
        text(class="timer-text") Preparing your enviroment     
            
script(src="js/log-in/call-instance.js")
script(src="js/circle-timer/circle-timer.js")
script.
      new Circlebar({
              element: "#circlebar"

          });
