doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='Acelerex Storage Benefits Tool')
    meta(name='author', content='Acelerex')
    title Storage Benefits Tool
    link(href='../bower_components/sweetalert/dist/sweetalert.css', rel='stylesheet')

    // Custom Fonts
    link(href='../bower_components/font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
    link(href='../stylesheets/style.css', rel='stylesheet')
    link(href='../stylesheets/layout-newLook.css', rel='stylesheet')
    link(href='../stylesheets/grid-layout-styling.css', rel='stylesheet')   
    link(href='../stylesheets/tab_style.css', rel='stylesheet')
    
    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/dygraph/2.0.0/dygraph.min.css')
    script(src='https://www.gstatic.com/charts/loader.js')
    link(rel='stylesheet', href='https://www.gstatic.com/charts/45.2/css/core/tooltip.css')
    link(rel='stylesheet', href='https://www.gstatic.com/charts/45.2/css/util/util.css')
    script(src="https://www.gstatic.com/charts/45.2/js/jsapi_compiled_format_module.js")
    script(src="https://www.gstatic.com/charts/45.2/js/jsapi_compiled_default_module.js")
    script(src="https://www.gstatic.com/charts/45.2/js/jsapi_compiled_ui_module.js")
    script(src="https://www.gstatic.com/charts/45.2/js/jsapi_compiled_corechart_module.js")
    script(src="https://code.jquery.com/jquery-3.3.1.min.js")
    script(async=false src='https://cdnjs.cloudflare.com/ajax/libs/jquery-csv/0.8.9/jquery.csv.min.js')
    script(src="js/tab_switch.js")
    link(href="../stylesheets/side-slider.css" rel="stylesheet")
    link(href="../stylesheets/horizontal-menu/horizontal-menu.css" rel="stylesheet")
    link(href="../stylesheets/welcome-page/welcome-page.css" rel="stylesheet")
    
    //Dygraphs
    script(src='//cdnjs.cloudflare.com/ajax/libs/dygraph/2.0.0/dygraph.min.js')
    //-Jquery-csv
    
    
    
    
  body(style='display:block')
  
    div(class="wrapper" )
      include header/header_storage_benefits_tool.pug
      //-Modal to block application when charts are loading
      #modal-charts
        #charts-loading-anim.spinning
        text Please wait while charts are loading...
    script(src='js/layout.js')      
    script(src='../bower_components/jquery/dist/jquery.min.js')
    script(src='../bower_components/metisMenu/dist/metisMenu.min.js')
    //sweetalert
    script(src='../bower_components/sweetalert/dist/sweetalert.min.js')
    //validator
    script(src='../bower_components/validator-js/validator.min.js')

    // Custom Theme JavaScript
    script(src='js/sb-admin-2.js')
    
    //Javascript for dynamic tables
    script(src='js/dynamic-tables/gen-by-fuel-dynamic.js')
    script(src='js/dynamic-tables/energy-storage-dynamic.js')
    //script(src='js/dynamic-tables/energy-storage-cost-dynamic.js')
    //script(src='js/dynamic-tables/fuelprice-forecast-dynamic.js')
    //script(src='js/dynamic-tables/tech-capital-dynamic.js')
    
    script(src='js/inputs.js')
    div(class="data-header-container menu")#menuheader
       include horizontal-menu/horizontal-menu.pug
    include pop-up-boxes/pop-up-box-list.pug
    div(id='page-wrapper')
      block content
    
    