.form-horizontal
  #installedcap
      div(class='output-installed-capacity-container')
          p.data-header-text Installed Capacity (MW)
          include tables/output-tables/renewables-output-installed-cap-table.pug
          include tables/output-tables/thermal-generation-output-installed-cap-table.pug
          include tables/output-tables/hydro-generation-output-installed-cap-table.pug
          include tables/output-tables/demand-side-output-installed-cap-table.pug
  #energystorage
      div(class='output-energy-storage-container')
        p.data-header-text Energy Storage        
        include tables/output-tables/installed-capacity-output-es-cap-table.pug
        include tables/output-tables/energy-capacity-output-es-cap-table.pug
  #fuelusage
     div(class='output-fuel-usage-container')
       p.data-header-text Fuel Usage
       include tables/output-tables/fuel-usage-output-installed-cap-table.pug
  #pcmetrics
     .tables-container
       p.data-header-text Production Cost Metrics
       include tables/output-tables/pc-metrics-table.pug

  .download-link-container
    a(class='download-link' id='production-cost-download-link') 
      h3 
        span.label.label-primary
        | Click to Download Production Cost Outputs
    
    a(class='download-link' id='emulator-download-link') 
      h3 
        span.label.label-primary
        | Click to Download Emulator Outputs
