.output-charts-container
  p.data-header-text#capgenheading Capacity and Generation by Fuel Type
  .cap-per-tech-container
    include graphs/output-graphs/cap-per-tech.pug
  .gen-per-tech-container
    include graphs/output-graphs/gen-per-tech.pug
  .gen-profile-container
    include graphs/output-graphs/gen-profile.pug
  .prim-res-profile-container
    include graphs/output-graphs/prim-res-profile.pug
  .sec-res-profile-container
    include graphs/output-graphs/sec-res-profile.pug
  .ter-res-profile-container
    include graphs/output-graphs/ter-res-profile.pug
  .ener-price-profile-container
    include graphs/output-graphs/ener-price-profile.pug
  .res-prices-container
    include graphs/output-graphs/reserve-prices.pug

  .emulator-generation-container
    include graphs/output-graphs/emulator-generation.pug
  .emulator-primres-container
    include graphs/output-graphs/emulator-primres.pug
  .emulator-secres-container
    include graphs/output-graphs/emulator-secres.pug
  .emulator-tertres-container
    include graphs/output-graphs/emulator-tertres.pug

