div(class="log-out-pop-up-container" style="display:none;")
   p(class="log-in-header-text") LOG OUT  
   p(class="log-out-header-text") Do you want to log out?   
   div(class="input-buttons-container-log-out")
       input(type="button" onclick="log_out()" class="log-out-ok button-style-1" value="Yes")
       input(type="button" onclick="close_log_out()" class="log-out-cancel button-style-1" value="Cancel")

script(src="js/pop-up-boxes/log-out.js")
