table#fuelprice-forecast-dynamic.fuel-price-forecast-table
  thead
    tr
      th(colspan="4" class='table-header table-header-text') Fuel Price Forecast
    tr
      th(class ='table-header-field table-header-field-title') Fuel Type
      |
      th(class ='table-header-field table-header-field-title') Unit Type
      |
      th(class ='table-header-field table-header-field-title') Fuel Price Year 1 ($/GJ)       
      |  
      th(class ='table-header-field table-header-field-title') Fuel Price Year 2 ($/GJ)
  tbody
    tr.entry
      th(class ='table-items-description table-items-description-text') 
        select#fuel_options.grid-layout-textboxes.fuel-options.form-control.required(name='Fuels')
          option Liquefied Natural Gas (LNG)
      td(class ='table-items-description-content')
        select#unit_options.grid-layout-textboxes.unit-options.form-control.required(name='unit_type')
      td(class ='table-items-description-content') 
        input.grid-layout-textboxes.form-control.fuelprice1#fuelprice1(type='text')
      td(class ='table-items-description-content') 
        input.grid-layout-textboxes.form-control.fuelprice2#fuelprice2(type='text' name="fuel_price_year_2")       
      td(class ='table-items-description-content btn-field')
        span.input-group-btn
          a.btn-add.btn.btn-primary(type='button')
            span.glyphicon.glyphicon-plus
        span.remove-btn