table(id='hydro-monthly-energy' class='hydro-monthly-energy-table inline')
    thead
      tr
        th(colspan="13" class='table-header table-header-text') Monthly Energy (GWh)
      tr
        th(class ='table-header-field table-header-field-title') 
        |
        th(class ='table-header-field table-header-field-title') Jan
        |      
        th(class ='table-header-field table-header-field-title') Feb
        |         
        th(class ='table-header-field table-header-field-title') Mar
        |         
        th(class ='table-header-field table-header-field-title') Apr
        |         
        th(class ='table-header-field table-header-field-title') May
        |         
        th(class ='table-header-field table-header-field-title') Jun
        |
        th(class ='table-header-field table-header-field-title') Jul
        |      
        th(class ='table-header-field table-header-field-title') Aug
        |         
        th(class ='table-header-field table-header-field-title') Sep
        |         
        th(class ='table-header-field table-header-field-title') Oct
        |         
        th(class ='table-header-field table-header-field-title') Nov
        |         
        th(class ='table-header-field table-header-field-title') Dec

      // /tr
    // thead
    tbody    
      tr
        th(class ='table-items-description table-items-description-text' style='width:10%;') Year 1
        |              
        td(class ='table-items-description-content') 
          input.grid-layout-textboxes.form-control#hydroEng1_1(type='text' name='hydroEng1_1' value=120)
        |
        td(class ='table-items-description-content') 
          input.grid-layout-textboxes.form-control#hydroEng1_2(type='text' name='hydroEng1_2' value=130)
        |
        td(class ='table-items-description-content') 
          input.grid-layout-textboxes.form-control#hydroEng1_3(type='text' name='hydroEng1_3' value=150)
        |
        td(class ='table-items-description-content') 
          input.grid-layout-textboxes.form-control#hydroEng1_4(type='text' name='hydroEng1_4' value=160)
        |
        td(class ='table-items-description-content') 
          input.grid-layout-textboxes.form-control#hydroEng1_5(type='text' name='hydroEng1_5' value=190)
        |
        td(class ='table-items-description-content') 
          input.grid-layout-textboxes.form-control#hydroEng1_6(type='text' name='hydroEng1_6' value=125)
        |              
        td(class ='table-items-description-content') 
          input.grid-layout-textboxes.form-control#hydroEng1_7(type='text' name='hydroEng1_7' value=136)
        |
        td(class ='table-items-description-content') 
          input.grid-layout-textboxes.form-control#hydroEng1_8(type='text' name='hydroEng1_8' value=114)
        |
        td(class ='table-items-description-content') 
          input.grid-layout-textboxes.form-control#hydroEng1_9(type='text' name='hydroEng1_9' value=120)
        |
        td(class ='table-items-description-content') 
          input.grid-layout-textboxes.form-control#hydroEng1_10(type='text' name='hydroEng1_10' value=178)
        |
        td(class ='table-items-description-content') 
          input.grid-layout-textboxes.form-control#hydroEng1_11(type='text' name='hydroEng1_11' value=170)
        |
        td(class ='table-items-description-content') 
          input.grid-layout-textboxes.form-control#hydroEng1_12(type='text' name='hydroEng1_12' value=120)
      tr
        th(class ='table-items-description table-items-description-text' style='width:10%;') Year 2
        |              
        td(class ='table-items-description-content') 
          input.grid-layout-textboxes.form-control#hydroEng2_1(type='text' name='hydroEng2_1' value=110)
        |
        td(class ='table-items-description-content') 
          input.grid-layout-textboxes.form-control#hydroEng2_2(type='text' name='hydroEng2_2' value=120)
        |
        td(class ='table-items-description-content') 
          input.grid-layout-textboxes.form-control#hydroEng2_3(type='text' name='hydroEng2_3' value=160)
        |
        td(class ='table-items-description-content') 
          input.grid-layout-textboxes.form-control#hydroEng2_4(type='text' name='hydroEng2_4' value=170)
        |
        td(class ='table-items-description-content') 
          input.grid-layout-textboxes.form-control#hydroEng2_5(type='text' name='hydroEng2_5' value=180)
        |
        td(class ='table-items-description-content')
          input.grid-layout-textboxes.form-control#hydroEng2_6(type='text' name='hydroEng2_6' value=120)
        |              
        td(class ='table-items-description-content') 
          input.grid-layout-textboxes.form-control#hydroEng2_7(type='text' name='hydroEng2_7' value=126)
        |
        td(class ='table-items-description-content') 
          input.grid-layout-textboxes.form-control#hydroEng2_8(type='text' name='hydroEng2_8' value=140)
        |
        td(class ='table-items-description-content') 
          input.grid-layout-textboxes.form-control#hydroEng2_9(type='text' name='hydroEng2_9' value=135)
        |
        td(class ='table-items-description-content') 
          input.grid-layout-textboxes.form-control#hydroEng2_10(type='text' name='hydroEng2_10' value=198)
        |
        td(class ='table-items-description-content') 
          input.grid-layout-textboxes.form-control#hydroEng2_11(type='text' name='hydroEng2_11' value=185)
        |
        td(class ='table-items-description-content') 
          input.grid-layout-textboxes.form-control#hydroEng2_12(type='text' name='hydroEng2_12' value=140)
