table(class='generation-renewables-table inline')
  thead
    tr
      th(colspan='7' class='table-header table-header-text') Renewable Generation Parameters
    tr
      th(class ='table-header-field table-header-field-title') Source 
      |
      th(class ='table-header-field table-header-field-title') Profile Year 1 (%)
      |
      th(class ='table-header-field table-header-field-title') Profile Year 2 (%)
      |         
      th(class ='table-header-field table-header-field-title') Firm Power (%)
      |
      th(class ='table-header-field table-header-field-title') Inv. Cost Year 1 ($/kW)
      |
      th(class ='table-header-field table-header-field-title') Inv. Cost Year 2 ($/kW)
      |
      th(class ='table-header-field table-header-field-title') Fixed O&M ($/kW-year)  

  tbody
    tr
      th(class ='table-items-description table-items-description-text') Wind
      |              
      td(class ='table-items-description-content') 
          input(id ="basewind1" value="Median" list="renewables" class="grid-layout-textboxes" onFocus="this.value=''")
          include ../../../sub-forms/select-renewables.pug
          input.grid-layout-textboxes.form-control#userbasewind1(type='hidden' name='userbasewind1')
      td(class ='table-items-description-content') 
          input(id ="basewind2" value="Median" list="renewables" class="grid-layout-textboxes" onFocus="this.value=''")
          include ../../../sub-forms/select-renewables.pug
          input.grid-layout-textboxes.form-control#userbasewind2(type='hidden' name='userbasewind2')
      td(class ='table-items-description-content') 
        input.grid-layout-textboxes.form-control#windfirmpower(type='text' name='windfirmpower')
      td(class ='table-items-description-content')                 
        input.grid-layout-textboxes.form-control#windinvcost1(type='text' name='windinvcost1')
      td(class ='table-items-description-content')                 
        input.grid-layout-textboxes.form-control#windinvcost2(type='text' name='windinvcost2')
      td(class ='table-items-description-content')                 
        input.grid-layout-textboxes.form-control#windfixedOM(type='text' name='windfixedOM')
          
    tr
      th(class ='table-items-description table-items-description-text') Solar-PV
      |              
      td(class ='table-items-description-content')
          input(id ="basesolar1" value="Median" list="renewables" class="grid-layout-textboxes" onFocus="this.value=''")
          include ../../../sub-forms/select-renewables.pug
          input.grid-layout-textboxes.form-control#userbasesolar1(type='hidden' name='userbasesolar1')
      td(class ='table-items-description-content')
          input(id ="basesolar2" value="Median" list="renewables" class="grid-layout-textboxes" onFocus="this.value=''")
          include ../../../sub-forms/select-renewables.pug
          input.grid-layout-textboxes.form-control#userbasesolar2(type='hidden' name='userbasesolar2')
      td(class ='table-items-description-content') 
        input.grid-layout-textboxes.form-control#solarfirmpower(type='text' name='solarfirmpower')
      td(class ='table-items-description-content')                 
        input.grid-layout-textboxes.form-control#solarinvcost1(type='text' name='solarinvcost1')
      td(class ='table-items-description-content')                 
        input.grid-layout-textboxes.form-control#solarinvcost2(type='text' name='solarinvcost2')
      td(class ='table-items-description-content')                 
        input.grid-layout-textboxes.form-control#solarfixedOM(type='text' name='solarfixedOM')
