table#tech-capital-dynamic.tech-capital-dynamic-table
  thead
    tr
      th(colspan='6' class='table-header table-header-text') Technology Capital and Investment Cost
    tr
      th(class ='table-header-field table-header-field-title')
      |
      th(class ='table-header-field table-header-field-title')
      |
      th(colspan='2' class ='table-header-field table-header-field-title') Capital Cost
      |
      th(colspan='2' class ='table-header-field table-header-field-title') Maintenance Cost
    tr
      th(class ='table-header-field table-header-field-title') Fuel Type
      |
      th(class ='table-header-field table-header-field-title') Unit Type
      |
      th(class ='table-header-field table-header-field-title') Inv. Cost Year 1 ($/kW)
      |
      th(class ='table-header-field table-header-field-title') Inv. Cost Year 2 ($/kW)
      |
      th(class ='table-header-field table-header-field-title') VO&M Cost ($/MWh)
      |
      th(class ='table-header-field table-header-field-title') FO&M Cost ($/kW-year)
      
  tbody
    tr.entry
      th(class ='table-items-description table-items-description-text') 
        select#fuel_options.grid-layout-textboxes.fuel-options.form-control.required(name='Fuels')
         option Liquefied Natural Gas (LNG)
      td(class ='table-items-description-content')
        select#unit_options.grid-layout-textboxes.unit-options.form-control.required(name='unit_type')
      td(class ='table-items-description-content') 
        input.grid-layout-textboxes.form-control.invcost1#invcost1(type='text') 
      td(class ='table-items-description-content') 
        input.grid-layout-textboxes.form-control.invcost2#invcost2(type='text')       
      td(class ='table-items-description-content') 
        input.grid-layout-textboxes.form-control.vom#vom(type='text')
      td(class ='table-items-description-content') 
        input.grid-layout-textboxes.form-control.fixedom#fixedom(type='text') 
      td(class ='table-items-description-content btn-field')
        span.input-group-btn
          a.btn-add.btn.btn-primary(type='button')
            span.glyphicon.glyphicon-plus
        span.remove-btn