link(href="../stylesheets/welcome-page/welcome-page.css" rel="stylesheet")
div.header
  p(style='font-size: 25px;') Welcome To Acelerex Storage Benefits Tool
div(class = 'header-sign-in' onclick='Log_in_pop_up()')
  p(style='margin:0 auto;') Sign In!




