.input-chart-container
  div(id='demand-profile-graph1' style="width:400px; height:200px;" class='profile-graph')
  div(id='demand-profile-graph2' style="width:400px; height:200px;" class='profile-graph')
