@import '~src/theme';

header {
  display: flex;
  flex-direction: column;

  #topBar{
    background: $color-darkgreen;
    /* display: flex;
    flex-direction: row; */
    padding: 0 15px 0 15px;
    margin-bottom: 10px;
    position: relative;
    /*align-content: flex-end; 
    align-items: flex-end;
    justify-content: space-between; */
    height: 50px;

    #home {
      background: url('/assets/images/logo-mobile.png') center center no-repeat;
      display: block;
      width: 50px;
      height: 50px;
      position: absolute;
      top: 0;
      left: 0;
      text-indent: -10000px;
    }

    > h1 {
      color: #fff; 
      display: flex; 
      justify-content: center;
      font-size: 1.5rem;
      margin: 0;
      margin: 0 90px 0 50px;
      height: 50px;      
      width: auto;
      align-items: center;
    }

    app-global-search {
      position: absolute;
      right: 60px;
      top: 5px;
    }

    app-user-menu {
      position: absolute;
      right: 30px;
      top: 5px;
    }

    app-top-nav {
      display: block;
      position: absolute;
      right: 0;
      top: 5px;
    }
  }
}

@include respond-to('desktop') {
  header {
    > #topBar {
      height: auto;
      padding: 0 0;

      #home {
        background: url('/assets/images/logo.png');
        display: block;
        width: 128px;
        height: 70px;
        text-indent: -10000px;
        margin-left: $page-margin;
      }

      > h1 {
        display: none;
      }

      app-global-search {
        position: absolute;
        right: $page-margin + 40px;
        top: 10px;
      }
  
      app-user-menu {
        position: absolute;
        right: $page-margin;
        top: 10px;
      }

      app-top-nav {
        display: block;
        width: 100%;
        position: relative;
        margin-top: 70px;
      }
    }

    app-content-header {
      margin-top: 10px;
    }
  }
}